# Flask
SECRET_KEY=cambia-esta-clave-secreta-en-produccion
FLASK_ENV=development
FLASK_DEBUG=True

# MySQL
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=fondacontrol
MYSQL_PASSWORD=tu_password_aqui
MYSQL_DATABASE=fondacontrol_db

# MongoDB
MONGO_URI=mongodb://localhost:27017/fondacontrol_logs

# App Settings
APP_NAME=FondaControl
UPLOAD_FOLDER=app/static/uploads
MAX_CONTENT_LENGTH=16777216

# Security
WTF_CSRF_ENABLED=True
SESSION_COOKIE_SECURE=False
SESSION_COOKIE_HTTPONLY=True
